{%  extends "base.html" %}
{% block contenido %}

<form method="post">
    {{ formulario.hidden_tag() }}
    {{ formulario.email.label }}    {{ formulario.email }}
    <br>
    {{ formulario.passw.label }}    {{ formulario.passw }}
    <br>
    {{ formulario.boton }}
</form>

{% endblock %}